mat-form-field {
  display: block; /* Makes each mat-form-field take up the full width */
  margin-bottom: 16px; /* Adds space between fields */
}
.login-card {
  width: 100%;
  margin:0 auto;
  max-width: 400px; /* Set a max width for the card */
  padding: 20px;
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
}
