<div class="col-12 align-self-center">
  <div class="card login-card mt-5" style="width: 20rem;">
    <div class="card-body">
      <h1 class="card-title text-center">Authentication</h1>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" name="email" required formControlName="email">
          <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            Email is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" id="password" required formControlName="password">
          <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            Password is required.
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
  </div>
</div>
